<div class="box">
  <article class="media">
    <div class="media-content">

      <strong class="title is-5">Sign up</strong><br><br>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, required: true, autofocus: true, input_html: { class:"input m-2" }, wrapper: false, label_html: { class:"label m-2" } %>

          <%= f.input :username, required: true, autofocus: false, input_html: { class:"input m-2" }, wrapper: false, label_html: { class:"label m-2" } %>

          <%= f.input :email, required: true, autofocus: false, input_html: { class:"input m-2" }, wrapper: false, label_html: { class:"label m-2" } %>

          <%= f.input :password, required: true, autofocus: false, input_html: { class:"input m-2" }, wrapper: false, label_html: { class:"label m-2" } %>

          <%= f.input :password_confirmation, required: true, autofocus: false, input_html: { class:"input m-2" }, wrapper: false, label_html: { class:"label m-2" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'button has-background-grey-light m-2' %>
        </div>
      <% end %>
      <div class="button m-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </article>
</div>
