<div class="box">
  <article class="media">
    <div class="media-content">
      <strong class="title is-5">Log in</strong><br><br>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class:"input m-2" }, wrapper: false, label_html: { class:"label m-2" } %>
          <%= f.input :password, required: true, autofocus: false, input_html: { autocomplete: "current-password", class:"input m-2" }, wrapper: false, label_html: { class:"label m-2" } %>
        </div>
          <div class="m-2">
            <%= f.input :remember_me, wrapper: false, as: :boolean if devise_mapping.rememberable? %>
          </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: 'button has-background-grey-light m-2' %>
        </div>
      <% end %>
      <div class="m-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </article>
</div>

