<% if user_signed_in? %>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <p>Welcome: <%= current_user.username %></p>
        <p class="mb-2"><strong>Submit Your Post Here</strong></p>
        <div class="media-content">
          <%= render 'posts/form' %>
        </div>
      </div>
    </article>
  </div>
<% else %>
<div class="box">
    <article class="media">
      <div class="media-content">
        <p class="mb-2"><strong>Sign in to add a new post or to edit/delete a previous post</strong></p>
      </div>
    </article>
  </div>
<% end %>

<% @posts.each do |post| %>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p><%= post.body %></p>
          <% if user_signed_in? %>
            <small>@<%= post.user.username %></small>
          <% else %>
            <small>@anonymous</small>
          <% end %>
        </div>

        <% if current_user == post.user %>
          <nav class="level">
            <div class="level-left is-mobile">
              <%= link_to post, class: 'level-item' do %>
                <span class="icon"><i class="fa fa-link" style="color:grey" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to edit_post_path(post), class:"level-item" do %>
                <span class="icon"><i class="fa fa-pencil" style="color:grey" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class:"level-item" do %>
                <span class="icon"><i class="fa fa-trash-o" style="color:grey" aria-hidden="true"></i></span>
              <% end %>
            </div>
        <% end %>
          </nav>
      </div>
    </article>
  </div>
<% end %>
